body {
    background-color: whitesmoke;
}

#main {
    background-color: whitesmoke;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-top: 4%;
    margin-bottom: 0px;
}

li {
    list-style-type: none;
    height: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid black;
    padding-left: 4%;
}

.box {
    display: flex;
    align-items: center;
    flex-direction: column;
}

nav {
    background-color: #000022;
    display: flex;
    width: 100%;
    height: 8vh;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    font-size: 30px;
    color: #ffff;
    z-index: 2;
    margin-bottom: 10%;
}

.radio_button {
    margin-left: 20px;
}

.button {
    margin: 50%;
}

.main_box {
    width: 80px;
    height: 20px;
}

.rgb-control {
    width: 100px;
    height: 25px;
    margin: 5% 2%;
    margin-top: 7%;
}

label {
    margin: 2% 2% 0%;
}

@media only screen and (min-width: 500px) {
    .main_box {
        width: 75%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        height: 50%;
        flex-direction: column;
    }
    .slide_bar {
        display: flex;
        flex-direction: column;
        background-color: #001242;
        position: fixed;
        left: 0px;
        top: 50px;
        height: 100vh;
        width: 15%;
    }
    .heading {
        margin-top: 5%;
    }
    .Encoder_Decoder {
        display: flex;
        position: absolute;
        left: 20%;
        top: 5%;
        width: 75%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
    }
    .icon{
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    .main_box {
        width: 75%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        height: 50%;
        flex-direction: column;
    }
    .slide_bar {
        background-color: #001242;
        height: 100%;
        width: 60%;
        position: fixed;
        top: 8vh;
        left: 0px;
        z-index:3;
    }
    .heading {
        margin-top: 10%;
    }
    .Encoder_Decoder {
        margin: 50px auto auto auto;
        display: flex;
        position: absolute;
        left: 20%;
        top: 5%;
        width: 75%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
    }
    nav{
        font-size:20px;
    }
    .icon{
        z-index: 3;
        display: flex;
        height: 20px;
        width: 20px;
        position: absolute;
        top: 15px;
        left: 10px;
    }
}

textarea {
    height: 40px;
    width: 20%;
}

.options {
    text-decoration: none;
    font-size: large;
    width: auto;
    color: #0055ff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

textarea {
    width: 200px;
    height: 50px;
}

.input_output {
    margin: 5%;
}